/* 편지 */

@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 250px;
  transition: all 0.2s linear;
}

.message:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sender {
  font-family: "KyoboHandwriting2021sjy";
}
