.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.menu {
  display: flex;
  list-style: none;
}

.menuItem {
  padding: 0 10px;
}

.menuItem:hover {
  cursor: pointer;
}
